@import 'tailwindcss';
@import './animation.css';
@import './utilities.css';
@import './theme.css';

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
