@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-title: 'Orbitron', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  /* Animations */
  --animate-none: none;
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;

  /* Colors (Base Palette) */
  --color-primary: #111826;
  --color-on-primary: #ffffff;
  --color-secondary: #333536;
  --color-on-secondary: #ffffff;
  --color-accent: #e620a6;
  --color-on-accent: #ffffff;
  --color-surface: #ffffff;
  --color-background: #fdfdfc;
  --color-foreground: #171717;

  --color-border: #c7c7c7;
  --color-muted: #6c6d70;
  --color-info: #0b688c;
  --color-success: #00ff90;
  --color-warning: #f5ae48;
  --color-danger: #ff0015;

  /* Mapped to Shadcn UI tokens */
  --color-primary-foreground: var(--color-on-primary);
  --color-secondary-foreground: var(--color-on-secondary);
  --color-accent-foreground: var(--color-on-accent);
  --color-muted-foreground: var(--color-foreground);
  --color-destructive: var(--color-danger);
  --color-ring: var(--color-accent);

  /* Sidebar and Charts */
  --color-sidebar: var(--color-surface);
  --color-sidebar-foreground: var(--color-foreground);
  --color-sidebar-primary: var(--color-primary);
  --color-sidebar-primary-foreground: var(--color-on-primary);
  --color-sidebar-accent: var(--color-accent);
  --color-sidebar-accent-foreground: var(--color-on-accent);
  --color-sidebar-border: var(--color-border);
  --color-sidebar-ring: var(--color-accent);

  --chart-1: var(--color-accent);
  --chart-2: var(--color-success);
  --chart-3: var(--color-info);
  --chart-4: var(--color-warning);
  --chart-5: var(--color-danger);

  /* Radius Token */
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
html {
  color-scheme: light;
}

html.dark {
  --color-primary: #333333;
  --color-on-primary: #ffffff;
  --color-secondary: #26303f;
  --color-on-secondary: #ffffff;
  --color-accent: #07d9c4;
  --color-on-accent: #ffffff;
  --color-surface: #0d1117;
  --color-foreground: #f5f5f5;
  --color-background: #121212;
  --color-muted: #9ca1aa;
  --color-info: #2685bf;
  --color-success: #00ff90;
  --color-warning: #f5ae48;
  --color-danger: #ff0015;
  --color-border: #e5e7eb;

  color-scheme: dark;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
