@import 'tailwindcss';
@import './theme.css';
@import './utilities.css';
@import './animation.css';

html {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
